:root {
    --main-color: #11e1a4;
    --main-transtion: 0.5s ease;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}
.container {
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
/* Start Settings box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: var(--main-transtion);
    border: 1px solid #eee;
}

.settings-box.opened {
    left: 0;
}

/* .settings-box.close {
    left: -200px;
} */
.settings-box .gear {
    position: absolute;
    right: -30px;
    top: 150px;
    background-color: #fff;
    padding: 8px 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.settings-box .gear i {
    font-size: 21px;
}

.settings-box .option-box {
    padding: 15px;
    margin: 10px;
    background-color: #eee;
}

.settings-box .option-box h4 {
    margin: 0;
    /* color: #666; */
    font-size: 13px;

}

.settings-box .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.settings-box .option-box .colors-list li {
    width: 25px;
    height: 25px;
    /* background-color: #333; */
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

.settings-box .option-box .colors-list li.active {
    border: 2px solid #333;
}

.settings-box .option-box .colors-list li:first-child {
    background-color: #11e1a4;
}

.settings-box .option-box .colors-list li:nth-child(2) {
    background-color: #ef5350;
}

.settings-box .option-box .colors-list li:nth-child(3) {
    background-color: #03A9F4;
}

.settings-box .option-box .colors-list li:nth-child(4) {
    background-color: #FF9800;
}

.settings-box .option-box .colors-list li:nth-child(5) {
    background-color: #7e57c2;
}
.option-box label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.settings-box .reset-options {
    background-color: #f44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--main-transtion);
}
.settings-box .reset-options:hover {
    background-color: #f72f21;
}
/* Start Nav bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    transition: var(--main-transtion);
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: var(--main-transtion);
}
.nav-bullets .bullet .tooltip {
    background-color: var(--main-color);
    transition: var(--main-transtion);
    border-radius: 3px;
    width: 120px;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
    right: 32px;
    top: -7px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
    transition: var(--main-transtion);
    
}
.nav-bullets .bullet .tooltip::before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -19px;
    top: 50%;
    transform: translateY(-50%);
    
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
/* End Nav bullets */
/* Style the custom checkbox */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

/* Style the checkmark (tick) */
.custom-checkbox::after {
    content: "";
    width: 8px;
    height: 15px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    /* By default, the checkmark is hidden */
}

/* Show the checkmark when the checkbox is checked */
input[type="checkbox"]:checked+.custom-checkbox::after {
    opacity: 1;
}

/* End Settings box */
/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    /* background-image: url(imgs/05.jpg); */
    background-position: left center;
    position: relative;
    padding: 80px 90px;
    transition: var(--main-transtion);
}

.landing-page .active {
    color: var(--main-color);
}

.landing-page .overlay {
    position: absolute;
    background-color: rgb(12 30 25 / 38%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-area {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    /* padding: 20px 30px; */
}

.header-area .logo {
    width: 300px;
    font-size: 30px;
    font-weight: bold;
}

.header-area .links {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: right;
}

.header-area .links li:not(:last-child) {
    display: inline-block;
    padding-right: 25px;
}

.header-area .links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: var(--main-transtion);

}

.header-area .links li:hover a,
.header-area .links li .active {
    color: var(--main-color);
}

.introduction-text {
    position: absolute;
    top: 30%;
    color: #fff;
    z-index: 2;
    width: 500px;

}

.introduction-text h1 {
    font-size: 60px;
}

.introduction-text p {
    line-height: 1.6;
}

.landing-page .wise-word {
    position: absolute;
    top: 50%;
    right: 0px;
    color: #fff;
    font-size: 13px;
    z-index: 2;
    transform: rotate(270deg);
}

.introduction-text h1 span {
    color: var(--main-color);
    transition: var(--main-transtion);
}

.introduction-text .explore,
.introduction-text .read {
    padding: 7px 13px;
    border-radius: 11px;
    border: 2px solid var(--main-color);
    margin-top: 20px;
    margin-right: 15px;
    background: transparent;
    color: var(--main-color);
    cursor: pointer;
    transition: var(--main-transtion);
}

.introduction-text .explore,
.introduction-text .read:hover {
    color: black;
    background-color: var(--main-color);
}

/* About us Section */
.about-us {
    display: flex;
    flex-wrap: wrap;

}

.about-us .us-text {
    flex: 1;
    background-color: #dfe2b3;
    position: relative;
    padding: 20px;
}

.about-us .us-text::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    bottom: 0px;
    right: -8px;
    background: #dfe2b3;
    clip-path: polygon(60% 0, 84% 0, 100% 36%, 89% 85%, 100% 100%, 60% 99%, 60% 43%, 60% 23%);
}


.about-us .us-text h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-right: 15px;
    transition: var(--main-transtion);
}

.about-us .us-text i {
    font-size: 30px;
    margin-left: 10px;
    color: var(--main-color);
    transition: var(--main-transtion);
}

.about-us .us-text p {
    max-width: 500px;
    line-height: 1.4;
    color: #484343;
}

.about-us .us-img {
    flex: 1;
}

.about-us .us-img img {
    width: 100%;
    height: 100%;
}

/* SKills section */

.skills {
    padding-top: 50px;
    background-color: #eee;
}

.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 15px 50px 35px;
    text-align: center;
    transition: var(--main-transtion);
}

.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .skills .skill-box {
        display: block;
    }
}

.skills .skill-box .skill-name {
    font-weight: bold;
    width: 300px;
    text-align: center;
    line-height: 30px;
}

@media (max-width: 767px) {
    .skills .skill-box .skill-name {
        width: 100%;
        margin-bottom: 15px;
    }
}

.skills .skill-box .skill-progress {
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    /* overflow: hidden; */
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: all .5s;
}

/* Start Gallery */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 15px 50px 35px;
    text-align: center;
    transition: var(--main-transtion);
}

.gallery .images-box {
    text-align: center;
}

.gallery .images-box img {
    width: 200px;
    height: 150px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    z-index: 1001;
}

.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
    transition: var(--main-transtion);
}

.popup-box img {
    max-width: 100%;
}

.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    transition: var(--main-transtion);
}

.close-button:hover {
    color: #333
}

/* End Gallery */
/* Start Timeline */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content:before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    transition: var(--main-transtion);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}

.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #FFF;
    padding: 2px 5px;
    font-weight: bold;
    transition: var(--main-transtion);
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

@media (max-width: 767px) {

    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline .timeline-content .left:before,
    .timeline .timeline-content .right:before {
        display: none;
    }

    .timeline .timeline-content .left .content:before,
    .timeline .timeline-content .right .content:before {
        display: none;
    }
}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .left:before {
    right: -35px;
}

.timeline .timeline-content .right {
    float: right;
}

.timeline .timeline-content .right:before {
    left: -35px;
}

.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #FFF;
    border: 3px solid var(--main-color);
    transition: var(--main-transtion);
    position: absolute;
    border-radius: 50%;
    top: 20px;
}

.timeline .timeline-content .content {
    padding: 15px 30px;
    background-color: #FFF;
    border-radius: 10px;
}

.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
    transition: var(--main-transtion);
}

.timeline .timeline-content .content p {
    color: #666;
    margin: 0;
    line-height: 1.6;
}

.clearfix {
    clear: both;
}

.timeline .timeline-content .left .content:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #FFF;
    height: 0;
    width: 0;
    position: absolute;
    right: -19px;
    top: 20px;
}

.timeline .timeline-content .right .content:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent #FFF transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: -19px;
    top: 20px;
}
/* End Timeline */
/* Start Features */
.features {
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.features .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.features .feat-box {
    width: calc(100% / 3);
    /* display: flex;
    justify-content: space-between; */
    /* float: left;
    text-align: center; */
    margin-bottom: 40px;
}
.features .feat-box img {
    width: 65px;
    height: 60px;
}
.features .feat-box h4 {
    font-size: 23px;
    margin: 20px 0 40px;
    position: relative;
}
.features .feat-box h4::before {
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;

}

/* End Featues */
.testimonials {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials::before {
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials::after {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 50px;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-bottom: 25px 
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #fff;
    padding: 20px;
}
.testimonials .ts-box img {
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
    top: -40px;
    left: 50%;
    margin-left: -50px;
    border: 6px solid #FFF;
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 40px 0 20px;
    line-height: 1.5;
    font-size: 15px;
    color: #707070;
    font-style: italic;
}